version: "3.9"

services:
  expense_tracker:
    build: .
    container_name: expense_tracker
    ports:
      - "8000:8000"
      - "8501:8501"
    env_file:
      - .env
    volumes:
      - ./logs:/app/logs
    extra_hosts:
      - "host.docker.internal:host-gateway"   # <-- REQUIRED ON LINUX
    restart: always
